:root {
  --hover-color: #0e8388;
}

html {
  background-color: #212525;
  min-height: 770px;
}

body {
  font-family: "Times New Roman", Times, serif;
  /* background-image: url(https://img5.thuthuatphanmem.vn/uploads/2021/11/26/hinh-nen-phong-canh-co-trang-cho-may-tinh_010559903.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed; */
  background-color: #212525 !important;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
}

ul li {
  list-style-type: none;
}

main {
  margin-left: 250px;
  background-color: #fff;
  padding: 20px;
}

main .directory {
  font-size: 20px;
  background-color: #f1dec9;
  padding: 10px 20px;
  margin-bottom: 40px;
  color: #212525d7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

main .directory i{
  font-size: 8px;
  margin: 0px 15px;
  opacity: 0.8;
}

#add-form .field {
  margin-bottom: 20px;
}

#add-form .field label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

#add-form .field .input input {
  width: 100%;
  padding: 7px 10px;
  border-radius: 4px;
  border: 1px solid #00000036;
}

#add-form .field .input input:focus-visible {
  outline: 3px solid #7ac3c5;
}


#add-form .add-btn {
  border: none;
  padding: 10px 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: #2e3840e1;
  color: #fff;
  border-radius: 10px;
}

#add-form .vip-field{
  margin-bottom: 10px;
}

#add-form .field #vip{
  display: none;
}

#add-form .field .check-box{
  margin-left: 20px;
  font-size: 13px;
  -webkit-user-select: none;
  border: 2px solid #4d7b7c;
  padding: 5px 20px;
  border-radius: 15px;
}

#add-form .field .active{
  background-color: transparent;
  color: #000;
  color: #fff;
  animation: fadeIn 0.2s linear alternate forwards;
}

#add-form .field .not-active{
  background-color: #4d7b7c;
  color: #fff;
  animation: fadeOut 0.2s linear alternate forwards;
}

#add-form .price-field{
  height: 0px;
  opacity: 0;
  animation: scaleUp 0.1s linear alternate forwards;
}

#add-form .not-price{
  height: 75px;
  opacity: 1;
  animation: scaleDown 0.1s linear alternate forwards;
}

#add-form .add-btn {
  border: none;
  padding: 10px 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: #2e3840e1;
  color: #fff;
  border-radius: 5px;
}

@keyframes fadeIn {
  to {
    background-color: #4d7b7c;
    color: #fff;
  }
}

@keyframes fadeOut {
  to {
    background-color: #fff;
    color: #000;
  }
}

@keyframes scaleUp {
  to {
    height: 75px;
    opacity: 1;
  }
}

@keyframes scaleDown {
  to {
    height: 0px;
    opacity: 0;
  }
}

/* input */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-color: #4d7b7c;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #324f50;
}

.inputfile + label {
  cursor: pointer;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.note{
  font-size: 14px;
  font-style: italic;
}