.background {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: -1;
}

.background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: -2px;
    box-shadow: 3px -4px 15px 20px #fff;
    z-index: 0;
}

.background_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.wrapper-user{
    max-width: 1100px !important;
    min-height: 550px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: -80px;
    z-index: 2;
    box-shadow: 0px 0px 20px 10px #00000025;
    margin-bottom: 50px;
    padding: 20px;
}

.wrapper-user .user-head{
    padding-bottom: 30px;
}

.wrapper-user .user-head .left-col{
    border-right: 1px solid #0000003d;
    height: 100%;
}

.user-head .user{
    border-bottom: 1px solid #0000003d;
    padding-bottom: 30px;
}

.user .avatar{
    display: flex;
    justify-content: center;
}

.user .avatar img{
    width: 100px;
    border-radius: 50%;
}

.user-information .name{
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.user-information .information{
    display: flex;
    align-items: center;
    opacity: 0.8;
    font-weight: 500;
    justify-content: center;
    margin-top: 5px;
}
.user-information .information i{
    font-size: 7px;
    opacity: 0.6;
    margin: 0px 10px;
}

.option{
    margin: 0px 10px;
}

.option a{
    color: #000;
}

.option .row{
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.option .row:hover{
    background-color: #f1dec942;
    color: #000;
}

.option .active{
    background-color: #f1dec9 !important;
}

.option .row i{
    width: auto;
}

.right-col .head-book{
    display: flex;
}

.right-col .head-book div{
    padding: 10px 20px;
}

.right-col .head-book .active{
    border-bottom: 5px solid #f1dec9;
}

.bookshelf, .book-read{
    cursor: pointer;
}

.right-col .body-book{
    margin-top: 20px;
}

.body-book-read .book{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.body-book-read .book:not(:first-child), .body-book-read .book:not(:first-child){
    margin-top: 25px;
}

.body-book-read .book .wrapper-book{
    display: flex;
    align-items: center;
}

.body-book-read .book .book-information{
    margin-left: 10px;
}

.book .book-information .book-name{
    font-size: 15px;
    font-weight: 500;
}

.book .book-information .book-name a{
    color: #000;
}


.book .book-image{
    box-shadow: 2px 3px 5px 0px #0000006e;
}

.book .book-image img{
    width: 45px;
}

.book .book-read{
    font-size: 15px;
    margin-top: 10px;
}

.book .book-read i{
    margin-right: 5px;
    font-size: 14px;
    opacity: 0.8;
}

.book .delete{
    margin-right: 200px;
}

.pagination{
    margin-bottom: 40px;
    margin-top: 111px;
    justify-content: right;
    margin-right: 85px;
}

.pagination .page{
    width: 30px;
    height: 30px;
    text-align: center;
}

.pagination a{
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #2c3333;
    margin-left: 10px;
    border-radius: 5px;
}

.pagination .active{
    background-color: #008383;
    border-radius: 5px;
}
