.detail {
    background-color: #fff;
    border-radius: 10px;
    margin-top: -80px;
    z-index: 2;
    box-shadow: 0px 0px 20px 10px #00000018;
    margin-bottom: 50px;
}

.detail {
    position: relative;
    z-index: 2;
}


.title_book {
    font-size: 23px;
    font-weight: 500;
}


.nav-tabs {
    border-bottom: 1px solid #e6e6e6;
}

.mai-avatar {
    position: relative;
}

.mai-avatar>img {
    max-width: 100%;
    margin: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.mai-avatar--90 {
    width: 90px;
}

.mai-avatar .level {
    position: absolute;
    bottom: -0.125rem;
    line-height: 1.5;
    padding: 0 0.75rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}


.custom-select:focus {
    border-color: #d9af52;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgb(183 138 40 / 25%);
    -moz-box-shadow: 0 0 0 .2rem rgba(183, 138, 40, .25);
    box-shadow: 0 0 0 0.2rem rgb(183 138 40 / 25%);
}

.btn:hover {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgb(183 138 40 / 25%);
    -moz-box-shadow: 0 0 0 .2rem rgba(183, 138, 40, .25);
    box-shadow: 0 0 0 0.2rem rgb(183 138 40 / 25%);
}

.mai-avatar.mai-avatar--45 {
    width: 45px;
}

.mai-avatar .level {
    position: absolute;
    bottom: -0.125rem;
    line-height: 1.5;
    padding: 0 0.75rem rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 11px;
}

.mai-rating.mai-rating--small .mai-icon {
    font-size: .8125rem;
}

.mai-rating .mai-icon {
    margin-right: 0.25rem;
    font-size: .875rem;
}

.mai-icon {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.glass {
    background: linear-gradient(135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.37);
}


#footer{
    background-image: url(../img/footer-bg.png);
}


/* OUTSIDE */

.img_shadown {
    box-shadow: 0 0 10px rgb(0 0 0 / 70%);
}


.linkToRead .reading{
    background-color: #0e8388;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    transition: .1s all;
}

.linkToRead .reading:hover{
    background-color: #0c6568;
}

.linkToRead .mark_book:hover{
    background-color: #00000074;
    color: #fff;
}

.linkToRead .mark_book{
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #00000071;
    margin-left: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #000;
    transition: .1s all;
}

.linkToRead .reading i{
    margin-right: 5px;
}

.linkToRead .mark_book i{
    margin-right: 5px;
}

.tag_book a{
    border-radius: 30px;
    margin-left: 10px;
}

.tag_book{
    margin-left: -10px;
}

.evaluate .num{
    font-size: 17px;
    font-weight: 600;
}

.evaluate .text{
    font-size: 14px;
    opacity: 0.7;
}

#intro{
    padding: 0px 10px;
}

.navigation{
    display: flex;
    margin-top: 30px;
}

.navigation a{
    color: #000000cc;
}

.navigation div{
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
}

.navigation .active{
    border-bottom: 5px solid #0c6568;
}

.main .wrapper-rate-form{
    background-color: #F7F5F0;
    margin-top: 30px;
    border-radius: 8px;
}

.main .wrapper-rate-form .rate-star{
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.rate-star{
    display: flex;
}

.rate-star label{
    font-size: 15px;
    font-weight: 600;
    color: #0c6568;
}

.rate-star .star-number{
    margin-left: 20px;
}

.rate-content{
    display: flex;
    justify-content: center;
}

.rate-content label{
    position: absolute;
    opacity: 0.7;
    margin-top: 10px;
    margin-left: 10px;
}

#content{
    border: none;
    width: 99%;
    height: 150px;
    margin-bottom: 4px;
    border-radius: 8px;
    resize: none;
    padding: 10px;
}

#content:focus-visible{
    outline: 3px solid #7ac3c5;
}

.submit{
    border: none;
    background-color: #0c6568;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.comment{
    margin-top: 20px;
    border-bottom: 1px solid #00000018;
    padding-bottom: 30px;
}

.wrapper-content{
    margin-top: 40px;
}

.wrapper-comment{
    margin-top: 30px;
}

.head-comment{
    display: flex;
}

.head-comment .user-avatar img{
    border-radius: 50%;
}

.head-comment .information{
    margin-left: 20px;
}

.head-comment .information .username{
    font-weight: 600;
}

.head-comment .wrapper-rate{
    display: flex;
}

.head-comment .wrapper-rate .rate{
    font-weight: 500;
    opacity: 0.7;
}

.head-comment .wrapper-rate .rate-date{
    margin-left: 30px;
}

.head-comment .wrapper-rate .rate-date i{
    margin-right: 5px;
    opacity: 0.7;
}

.comment .content{
    margin-left: 65px;
    font-size: 15px;
    margin-top: 10px;
}

.notice .error{
    position: fixed;
    width: 200px;
    height: 90px;
    background-color: #d11f1fef;
    color: #fff;
    top: 0;
    right: 0;
    margin-top: 70px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: errorShow .5s linear forwards alternate;
}

.notice .error::before{
    position: absolute;
    content: '';
    left: 0;
    width: 10px;
    height: 100%;
    background-color: #801b1b;
}

.notice .hide{
    animation: errorHide .5s linear forwards alternate;
}

@keyframes errorShow {
    to{
        opacity: 1;
    }
}

@keyframes errorHide {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}