:root {
    --hover-color: #0e8388;
}

body {
    font-family: "Times New Roman", Times, serif;
    /* background-image: url(https://img5.thuthuatphanmem.vn/uploads/2021/11/26/hinh-nen-phong-canh-co-trang-cho-may-tinh_010559903.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed; */
}

a {
    text-decoration: none !important;
}

#header {
    background: url(https://img.zing.vn/products/jx1m/skin-2020/images/themes/nav-bg.png)
    center / 100% 100px no-repeat;
    backdrop-filter: blur(1rem);
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 2;
}

@media only screen and (min-width: 1400px) {
    #header .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px !important;
    }
}

#header > a {
    color: black;
    text-decoration: none;
}

/* MENU */

nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

nav .left-nav {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

nav .left-nav div {
    padding: 10px 10px;
}

nav .left-nav .category div {
    color: #fff;
}

nav ul {
    list-style: none;
}

nav .rank,
nav .category {
    position: relative;
}

.menu .action {
    margin-left: 50px;
}

.menu a {
    color: #fff;
}

.sub-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
    line-height: 70px;
}

.left-nav .category,
.left-nav .rank {
    height: 64px;
}

.left-nav .category:hover,
.left-nav .rank:hover {
    background-color: #ffffff16;
}

.left-nav .category:hover .title,
.left-nav .rank:hover .title a {
    color: orange;
}

nav .sub-menu-category {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    padding: 0;
    width: 320px;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
}

.sub-menu-category a,
.sub-menu-rank a {
    color: black;
}

nav .sub-menu-rank {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    width: 140px;
    padding: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
}

nav .sub-menu-category li {
    display: inline-block;
    width: 145px;
}

nav .sub-menu-rank li {
    display: inline-block;
}

nav .sub-menu-category li a,
nav .sub-menu-rank li a {
    line-height: 18px;
}

nav :hover > ul {
    opacity: 1;
    visibility: visible;
    animation: fadeInDown 0.4s ease forwards;
}

nav ul {
    width: 100%;
    text-align: center;
}

nav a:hover {
    color: orange;
    transition: color 0.5s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SEARCH BOX */

#search-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 70px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: white; */
    padding: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

#search-box:hover,
#search-box:focus-within {
    box-shadow: 0 0 16px 8px rgba(39, 169, 255, 0.2);
}

#search-box #search-text {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

#search-box #search-btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
}

#search-btn .icon-search {
    color: black;
    font-size: 18px;
}

/* END SEARCH BOX */

/*  UPLOAD, REGISTER */
.menu .action .register {
    margin-right: 40px;
}

.menu a.login:hover,
.menu a.register:hover {
    color: orange;
    transition: color 0.3s;
}

/* END UPLOAD, REGISTER */

/* USER */

.wrapper-user-head {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.wrapper-user-head i {
    font-size: 20px;
}

.wrapper-user-head .message {
    position: relative;
    margin-right: 25px;
}

.wrapper-user-head .active::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(245, 74, 74);
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    top: -5px;
    right: -10px;
}

.wrapper-user-head .user {
    display: flex;
    align-items: center;
}

.wrapper-user-head .user i {
    margin-right: 10px;
}